# Ignore secrets
.env

# Ignore temporary files
tmp/
theme-cache/web/*

# Mendix defaults:
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/nl design system mendix.mpr.bak
/nl design system mendix.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/theme-cache/
/vendorlib/temp/
.DS_Store
