# Ignore secrets
.env

# Ignore fonts
theme/web/*.eof
theme/web/*.ttf
theme/web/*.woff
theme/web/*.woff2

# Ignore vendor files
theme/web/font.css
theme/web/mendix-nl-design-system-rotterdam-theme.css
theme/web/theme.css

# Ignore temporary files
tmp/

# Mendix defaults:
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/nl design system mendix.mpr.bak
/nl design system mendix.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/
.DS_Store
